<% layout('layouts/boilerplate')%>
<h1>Edit Your Profile Page</h1>


<div class="row">
    
    <div class="col-md-6 offset-md-3">
        <form action="/users/<%=user._id%>?_method=PUT" method="POST" novalidate class="validated-form"
            enctype="multipart/form-data">
            
            <div class="mb-3">
                <label class="form-label" for="caption">username</label>
                <input class="form-control" type="text" id="caption" name="user[username]"
                    value="<%=user.username %>" required>
                <!-- <div class="valid-feedback">
                    Looks good!
                </div> -->
            </div>

            <div class="mb-3">
                <label class="form-label" for="caption">email</label>
                <input class="form-control" type="text" id="caption" name="user[email]"
                    value="<%=user.email %>" required>
                <!-- <div class="valid-feedback">
                    Looks good!
                </div> -->
            </div>

            <div class="mb-3">
                <label class="form-label" for="caption">first name</label>
                <input class="form-control" type="text" id="caption" name="user[firstName]"
                    value="<%=user.firstName %>" required>
                <!-- <div class="valid-feedback">
                    Looks good!
                </div> -->
            </div>

            <div class="mb-3">
                <label class="form-label" for="caption">last name</label>
                <input class="form-control" type="text" id="caption" name="user[lastName]"
                    value="<%=user.lastName %>" required>
                <!-- <div class="valid-feedback">
                    Looks good!
                </div> -->
            </div>


            
            <div class="mb-3">
                <div class="form-file custom-file">
                    <input type="file" class="form-file-input" id="image" name="image">
                    <label class="form-file-label" for="image">
                        <span class="form-file-text custom-file-label">Change profile pic</span>
                        <span class="form-file-button">Browse</span>
                    </label>
                </div>
            </div>
           
            <div class="mb-3">
                <button class="btn btn-info">Update profile</button>
            </div>
        </form>
        <a href="/users/<%= user._id%>">Back To profile</a>
    </div>
</div>


